#p-4 {
    color: blue;
}

.container {
    background-color: rgb(201, 244, 235);
    color: black;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.p-element {
    color: rgb(220, 43, 43);
}

.new-class {
    color: rgb(207, 59, 220);
}

.link {
    background-color: brown;
    
}