#p-4 {
    color: blue;
}

.container {
    background-color: rgb(201, 244, 235);
    color: black;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.p-element {
    color: rgb(220, 43, 43);
}

.new-class {
    color: rgb(207, 59, 220);
}

.link {
    background-color: brown;
    
}





body {
    background-color: rgb(20, 199, 240);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.box {
    width: 300px;
    height: 240px;
    border: 0.4rem solid #000;
    background-color: beige;
}

select {
    padding: 0.8rem;
    font-size: 2rem;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

input [type=¨text¨] {
    padding: 1rem;
    font-size: 2rem;

}

p {
    font-size: 2rem;
}

.body-color {
    background-color: blueviolet;
}